* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    font-family: sans-serif;
}

#detx {
    text-align: center;
    font-size: 10em;
}

#instruction {
    text-align: center;
    font-size: 1em;
}